* {
  margin: 0;
}

body {
  background-color: #00db1ddc;
}

#box {
  display: flex;
  align-items: center;
  justify-content: center;
}

#note {
  text-align: center;
  color: #000;
  background-color: #f1ff28;
  margin-top: 15px;
  border-radius: 20px;
  padding: 10px;
}

#list {
  margin-top: 12px;
  background-color: #006effbe;
  min-height: 390px;
  max-width: 3900px;
  border-radius: 10px;
  margin-bottom: 6px;
  display: block;
}

#inputs {
  max-height: 400px;
  max-width: 400px;
}

#addition {
  background-color: rgba(6, 202, 32, 0.568);
}

#subtraction {
  background-color: rgba(216, 6, 6, 0.568);
}

input[type="text"] {
  margin-bottom: 6px;
  padding: 8px;
}

input[type="button"] {
  padding-top: 8px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 8px;
  border: none;
}

#bar {
  background-color: white;
  box-sizing: initial;
}
