* {
  margin: 0;
}

body {
  background-color: #00db1dc9;
}

#box {
  margin: 0 auto;
  max-width: 500px;
  max-height: 500px;
}

#note {
  text-align: center;
  color: #000;
  background-color: #f1ff28;
  margin-top: 15px;
  border-radius: 20px;
  padding: 10px;
}

#list {
  padding-top: 1px;
  margin-top: 12px;
  background-color: rgb(204, 204, 204);
  min-height: 390px;
  max-width: 3900px;
  border-radius: 10px;
  margin-bottom: 6px;
}

#partition {
  background-color: white;
  margin: 7px 8px 8px 8px;
  border-radius: 4px;
  box-shadow: -2px 2px 3px 2px rgb(0, 0, 0, 0.5);
}

#partition-clear {
  background-color: white;
  margin: 7px 8px 8px 8px;
  border-radius: 4px;
  box-shadow: -2px 2px 3px 2px rgb(0, 0, 0, 0.5);
}

#partition-green {
  border-radius: 4px;
  background-color: green;
}

#partition-red {
  border-radius: 4px;
  background-color: red;
}

#partition-value {
  border-radius: 4px;
  background-color: red;
}

#inputs {
  max-height: 400px;
  max-width: 560px;
}

#addition {
  background-color: rgba(6, 202, 32, 0.568);
  border-bottom: 1mm ridge rgba(6, 202, 32, 0.568);
}

#subtraction {
  background-color: rgba(216, 6, 6, 0.568);
  border-bottom: 1mm ridge rgba(216, 6, 6, 0.568);
}

input[type='text'] {
  margin-bottom: 6px;
  padding: 8px;
  border: 0px;
  border-bottom: 1mm ridge rgba(211, 220, 50, 0.6);
}

button {
  display: inline-block;
  border: 0px;
  padding: 8px 20px 8px 20px;
}

/* img {
  display: block;
  width: 35px;
} */
